@using AutAndAutV10.TwoFactor
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject IPublishedValueFallback PublishedValueFallback
@using Umbraco.Cms.Core.Services
@using Umbraco.Cms.Web.Website.Controllers
@using Umbraco.Cms.Web.Website.Models
@{
	Layout = "FeaturedLayout.cshtml";
    var children = Model.Children.ToList();
}
@* the fun starts here *@

@section Featured
{
    <div class="home-img">
        <img src="@Model.GetProperty("image").Value(PublishedValueFallback)" class="home-img img" />
    </div>
}

@section Body
{
    <div class="">
        <div class="">
            <div class="home">
                <h2 class="home-title">@Model.GetProperty("title").Value(PublishedValueFallback)</h2>
                <div class="home-body">@Html.Raw(Model.GetProperty("body").Value(PublishedValueFallback))</div>
            </div>


            <div class="child-container">
                <ul>
                    @foreach (var child in children)
                    {
                        if (child.IsDocumentType("securityItemOfPage"))
                        {
                            <li>
                                <div class="">
                                    <a href="@child.Url()">
                                        <img src="@child.GetProperty("image").Value(PublishedValueFallback)" class="child-img" />
                                    </a>
                                </div>

                                <div class="">
                                    <h3><a href="@child.Url()">@child.GetProperty("title").Value(PublishedValueFallback)</a></h3>
                                    <div class="">@child.CreateDate.ToShortDateString()</div>
                                    <div class="">@Html.Raw(child.GetProperty("body").Value(PublishedValueFallback))</div>
                                </div>
                                <hr />
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
}

@section RightRail
{
    
}